<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PL0Compiler</title>

    <link rel="icon" href="{{ url_for('static',filename='pic/icon.png') }}" sizes="32x32">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/my.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ace/ace.js') }}"></script>
</head>

<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PL0Compiler</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="lexer">Lexer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navbar-brand" href="#">OPG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="compiler">Compiler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="homework1">Homework1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="homework2">Homework2</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Grammar</h3>
            <pre id="editor1" style="height: 500px;">E->E+T|T
T->T*F|F
F->(E)|i</pre>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h3>Sentence</h3>
            <pre id="editor2" style="height: 500px;">(i+i)</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="input_file" onchange="loadFile()">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" id="run">
                Run
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="result-word">
                <h3>Result</h3>
            </div>
            <div id="result-place1"></div>

            <div id="result-place2"></div>
        </div>
    </div>
    <br><br><br>
</div>

<script>
    ace.require("ace/ext/language_tools");
    var editor1 = ace.edit("editor1");
    editor1.getSession().setMode("ace/mode/pascal");
    editor1.setTheme("ace/theme/tomorrow");
    editor1.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    editor1.setFontSize(18);

    var editor2 = ace.edit("editor2");
    editor2.getSession().setMode("ace/mode/pascal");
    editor2.setTheme("ace/theme/tomorrow");
    editor2.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    editor2.setFontSize(18);

    $('#run').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/api/v1/opg',
            type: 'post',
            data: {
                'grammar': editor1.getValue(),
                'sentence': editor2.getValue()
            },
            success: function (json) {
                $('#result-place1').html('<h4 style="color: #70a1ff;">Priority Table</h4><div id="result-show1">' +
                    '<table class="table table-hover table-bordered" style="table-layout:fixed;">' +
                    '<tbody id="result1"></tbody></table></div>');
                json = JSON.parse(json);

                var priority_table = json['priority_table'];
                var s1 = '';
                $('#result-word').html('<h3>Result</h3>');
                var check = priority_table[0];
                delete priority_table[0];
                if (check.state === 'error') {
                    s1 += '<tr class="info" style="background-color:#f5c6cb" rowspan="2"><td>' + check.message + '</td><tr>';
                    $('#result-word').html('<h3 style="color:red;"><abbr title="' + check.message + '">Result Error</abbr></h3>');
                    $('#result-place2').html('')
                }
                else {
                    length = check.length;
                    $.each(priority_table, function (n, value) {
                        s1 += '<tr class="info">';
                        for (var key in value) {
                            if (value[key] === '?') {
                                s1 += '<td style="background-color:#dfe4ea">' + value[key] + '</td>';
                            }
                            else {
                                s1 += '<td>' + value[key] + '</td>';
                            }
                        }
                        s1 += '</tr>';
                    });

                    $('#result-place2').html('<h4 style="color: #70a1ff;">Procedure</h4><div class="pre-scrollable" style="max-height: 500px" id="result-show2">' +
                        '<table class="table table-hover table-bordered" style="table-layout:fixed;">' +
                        '<tbody id="result2"></tbody></table></div>');
                    var analyse = json['analyse'];
                    var s2 = '';
                    var flag = true;
                    $.each(analyse, function (n, value) {
                        if (value.state === 'normal') {
                            s2 += '<tr class="info">' +
                                '<td>' + value.step + '</td>' +
                                '<td>' + value.stack + '</td>' +
                                '<td>' + value.priority + '</td>' +
                                '<td>' + value.current + '</td>' +
                                '<td>' + value.left + '</td>' +
                                '<td>' + value.action + '</td>' +
                                '</tr>';
                        }
                        else {
                            s2 += '<tr class="info" style="background-color:#f5c6cb"><td colspan="6">' + value.message + '</td><tr>';
                            $('#result-word').html('<h3 style="color:red;"><abbr title="' + value.message + '">Result Error</abbr></h3>');
                            $('#result-show2').scrollTop($('#result-show2')[0].scrollHeight);
                            flag = false;
                        }
                    });
                    if(flag){
                        s2 += '<tr style="background-color:#9AECDB"><td colspan="6">Success!!!</td></tr>'
                    }
                    $('#result2').html(s2);
                }
                $('#result1').html(s1);


            }
        });
    });

    function loadFile() {
        var file = document.getElementById("input_file").files[0];
        if (file) {
            var reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                editor1.setValue(evt.target.result);
            };
            reader.onerror = function () {
                alert("Error when reading file!");
            }
        }
    }

</script>
</body>
</html>
